<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>欢迎网页</title>
</head>
<body>
	<h2>欢迎&nbsp;<%=user%>&nbsp;光临</h2>
	<form action="/reset" id="form1" class="form1" method="post">
		<input type="submit" value="删除cookies" />
	</form>
</body>
</html>