<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			书籍查找结果
		</title>
		<link rel="stylesheet" type="text/css" href="../public/view.css"/>
	</head>

	<body>
		<form action="/findbooks" id="form1" method="post">
			<table border="" cellspacing="" cellpadding="">
				<tr >
					<td>
						书籍查找
					</td>
				</tr>
				<tr >
					<td>
						书名或作者:<input id="" name="keyword" required
						autofocus placeholder="请填写查找条件!">
					</td>					
				</tr>
				<tr>
					<td>
					<input type="submit" value="查找"/>
					</td>
				</tr>
			</table>

		</form>
	</body>

</html>