<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>登录窗口</title>
</head>
<body>
	<form action="/check" id="form1" method="post">
		<h2>登录窗口</h2>
		<div class="user">
			用户:<input type="text" name="user" />
		</div>		
		<div class="pass">
			密码:<input type="text" name="pass" />
		</div>	
		<div class="user">
			<input type="submit" value="登录" />
		</div>	
		
		
	</form>
	
</body>
</html>