<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>图书管理系统</title>
</head>
<style type="text/css">
	.top{
		background-color: palegreen;
		color: white;
		margin: 10px auto;
		padding: 10px;
	}
	.nav{
		background-color: #EFEFEF;
		font-size: 12px;
		padding: 5px;
	}
	a{
		text-decoration: none;
	}
	a:hover{
		text-decoration: underline;
	}
</style>
<body>
	<div class="top">
		图书管理系统首页
	</div>
	<div class="nav">
		<a href="http://localhost:3333">首页</a>
		<a href="http://localhost:3333/search">查询书籍</a>
		<a href="http://localhost:3333/add">添加书籍</a>
	</div>
</body>
</html>